
  <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <ng-template [ngIf]="authService.isAuthenticated()">
          <a class="breadcrumb" disabled>Todo List</a>
          <a class="breadcrumb" routerLink="/monday">Monday</a>
          <a class="breadcrumb" routerLink="/tuesday">Tuesday</a>
          <a class="breadcrumb" routerLink="/wednesday">Wednesday</a>
          <a class="breadcrumb" routerLink="/thursday">Thursday</a>
          <a class="breadcrumb" routerLink="/friday">Friday</a>
          <a class="breadcrumb" routerLink="/saturday">Saturday</a>
          <a class="breadcrumb" routerLink="/sunday">Sunday</a>
          <a class="breadcrumb" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a>
        </ng-template>
          <ng-template [ngIf]="!authService.isAuthenticated()">
          <a class="breadcrumb" routerLink="/signup">Register</a>
          <a class="breadcrumb" routerLink="/signin">Login</a>
        </ng-template>
        
        </div>
    </div>
  </nav>
              

