<div class="row">
  <div class="col-xs-10">
    <br><br>
    <app-sunday-edit></app-sunday-edit>
    <ul class="collection">
      <li class="collection-item" style="cursor: pointer"
      *ngFor="let materia of material; let i =index"
      (click)="onEditItem(i)">
    {{ materia.name }}</li>
    </ul>

  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSave()">save
    <i class="material-icons right">save</i>
  </button>
  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onGet()">get
    <i class="material-icons right">get_app</i>
  </button>
        
  </div>
</div>