<form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" name="email" ngModel>
            <label for="email">Email</label>
          </div>
        </div>
          <div class="row">
              <div class="input-field col s12">
                  <i class="material-icons prefix">person_pin</i>
                <input id="password" type="password" name="password" ngModel>
                <label for="password">Password</label>
              </div>
          </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!f.valid">Login
          <i class="material-icons right">person</i>
      </button>
                  
</form>
      
